body{
    font-family: Microsoft JhengHei;
    overflow-x: hidden;
    cursor: default;
    margin:0;
    padding:0;
    
}
header{
    background-image: url("img/1.jpg");
    width:100vw;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
}
div.black{
       background-color: rgba(0,0,0,0.4);
       width:100vw;
       height:100vh;
}
#title{
	position:absolute;
	top:10%;
	left:25%;
	color:#ffffff;
    
}
#title h1{
	display:block;
	font-size:60px;
    text-shadow:5px 5px 5px #222;
    margin-bottom: 0;
    font-weight: bolder;
}
#title h2{
	font-size:20px;
    text-shadow:5px 5px 5px #222;
    margin-bottom:20px;
    font-weight: bolder;
}
#title h3{
    font-size:25px;
    text-shadow:5px 5px 5px #222;
    margin-bottom:0;
    margin-top:0 ;
    font-weight: bold;
}
#title ul{
    border-left:3px solid aqua;
    padding-left: 5px;
    margin-left: 60px;
    font-size:30px;
    text-shadow:5px 5px 5px #222;
    margin-top:30px;
    margin-bottom: 1rem;
    font-weight: bold;
}
#title li{
    margin-left:120px;
    margin-top:0;
    font-size:25px;
    text-shadow:5px 5px 5px #222;
    font-weight: bold;
}
#title li.li2{
    margin-left:120px;
    margin-top:30px;
    font-size:25px;
    text-shadow:5px 5px 5px #222;
    font-weight: bold;
}
#title li.li3{
    margin-left:180px;
    margin-top:0;
    font-size:25px;
    text-shadow:5px 5px 5px #222;
    font-weight: bold;
}
div.ex2{
    margin-top: -3rem;
    position: absolute;
    margin-left: 16rem;
}
table{
    border:3px solid #444;
    border-spacing: 30px;
    empty-cells: hide;
    border-collapse: collapse;
    padding:5px;
    font-weight: bold;
    
}
th{
    border:3px solid #111;
    font-size: 15px;
    background-color: #444;
    padding:5px;
}
td{
    border:3px solid #111;
    color:#222;
    font-size: 15px;
    background-color: #ffffff;
    padding:5px;
}
content{
    padding:100px 6vw;
    background-image: url(img/2.jpg);
    
    height:50rem;
    width:100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card{
	width:290px;
    height: 330px;
	margin:1vw;
	border: 30px;
    border-color: #111;
    background-color: #ffffff;
	position: relative;
    transition-property: all;
    transition-duration: 3s;
}
.card:hover{
    box-shadow: 5px 5px 5px #111;
    margin-left: 10px;
    margin-top: 10px;
}
.img1{
    height:150px;
    margin: 0;
}
h1.text1{
   width:300px;
   font-size: 25px;
   padding:15px;
   font-weight: bolder;
   margin-bottom: 0;
   word-wrap:break-word;
}
h1.text2{
    font-size: 20px;
    padding-left:20px;
    margin: 0;
    word-wrap:break-word;
 }
 #a{
     font-weight: bolder;
     margin-top:25px;
     padding-left: 15px;
    white-space:nowrap;
 }
 a.link1{
     width: 50px;
     font-size:20px;
     padding:0px 5px;
 }
 a.link2{
    width: 150px;
    font-size:20px;
	padding:0px 5px;
}


footer{
    text-decoration: underline;
    height: 50px;
    width:100vw;
    background-color: #222;
    color:beige;
    font-size: 20px;
    text-shadow: 5px 5px 5px #444;
    text-align: center;
    line-height:50px;
    padding-top:5px;
}
@media screen and (min-width: 1280px){
    body{
        font-size: large;
    }
}
@media screen and (max-width: 800px) and (min-width:481px){
    body{
        margin:0;
        padding:0;
        left: 0%;
        position: absolute;
        }

    header{
        background-image: url("img/1.jpg");
        width: 100vw;
        height:100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right:0;
        margin-top: 0;
}
    div.black{
    background-color: rgba(0,0,0,0.3);
    width:100vw;
    height:100vh;
}
#title h1{
    display:block;
    font-size:30px;
    text-shadow:5px 5px 5px #222;
    margin-left: 20px ;
    margin-bottom: 0;
    font-weight: bolder;
}
#title h2{
    margin-left: 20px ;
    font-size:15px;
    text-shadow:5px 5px 5px #222;
    margin-bottom:10px;
    font-weight: bolder;
}
#title h3{
    font-size:20px;
    text-shadow:5px 5px 5px #222;
    margin-bottom:0;
    margin-top:0 ;
    font-weight: bold;
}
#title ul{
    border-left:3px solid aqua;
    padding-left: 5px;
    margin-left: 20px;
    font-size:20px;
    text-shadow:5px 5px 5px #222;
    margin-top:30px;
    margin-bottom: 0.8rem;
    font-weight: bold;
}
#title li{
    margin-left:30px;
    margin-top:0;
    font-size:15px;
    text-shadow:5px 5px 5px #222;
    font-weight: bold;
}
#title li.li2{
    margin-left:30px;
    margin-top:10px;
    font-size:15px;
    text-shadow:5px 5px 5px #222;
    font-weight: bold;
}
#title li.li3{
    margin-left:90px;
    margin-top:0;
    font-size:15px;
    text-shadow:5px 5px 5px #222;
    font-weight: bold;
}
    div.ex2{
        margin-top: -3rem;
        position: absolute;
        margin-left: 13rem;
    }
    
    content{
        padding:100px 6vw;
        background-image: url(img/2.jpg);
        
        height:100vh;
        width:100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .ex22{
        overflow:scroll;
        flex-flow:row wrap;
    }
    footer{
        text-decoration: underline;
        height: 50px;
        width:100vw;
        background-color: #222;
        color:beige;
        font-size: 20px;
        text-shadow: 5px 5px 5px #444;
        text-align: center;
        line-height:50px;
        padding-top:5px;
    }
    #a{
        font-weight: bolder;
        margin-top:5px;
        padding-left: 5px;
       white-space:nowrap;
    }
    a.link1{
        width: 50px;
        font-size:15px;
        padding:0px 5px;
    }
    a.link2{
       width: 150px;
       font-size:15px;
       padding:0px 5px;
   }
}


@media screen and (max-width:480px) {
    body{

        width: 80%;
        height: 100%;
        left: 0%;
        position: absolute;
}
    #title{
        position:absolute;
        width:70%;
        height: 50%;
        top:5%;
        left:5%;
        color:#ffffff;
        }
        #title h1{
            display:block;
            font-size:30px;
            text-shadow:5px 5px 5px #222;
            margin-left: 20px ;
            margin-bottom: 0;
            font-weight: bolder;
        }
        #title h2{
            margin-left: 20px ;
            font-size:15px;
            text-shadow:5px 5px 5px #222;
            margin-bottom:10px;
            font-weight: bolder;
        }
        #title h3{
            font-size:20px;
            text-shadow:5px 5px 5px #222;
            margin-bottom:0;
            margin-top:0 ;
            font-weight: bold;
        }
        #title ul{
            border-left:3px solid aqua;
            padding-left: 5px;
            margin-left: 20px;
            font-size:20px;
            text-shadow:5px 5px 5px #222;
            margin-top:30px;
            margin-bottom: 0.8rem;
            font-weight: bold;
        }
        #title li{
            margin-left:30px;
            margin-top:0;
            font-size:15px;
            text-shadow:5px 5px 5px #222;
            font-weight: bold;
        }
        #title li.li2{
            margin-left:30px;
            margin-top:10px;
            font-size:15px;
            text-shadow:5px 5px 5px #222;
            font-weight: bold;
        }
        #title li.li3{
            margin-left:90px;
            margin-top:0;
            font-size:15px;
            text-shadow:5px 5px 5px #222;
            font-weight: bold;
        }
        div.ex2{
            margin-top: -1rem;
            position: absolute;
            margin-left: 6rem;
        }
        content{
            padding:100px 3vw;
            background-image: url(img/2.jpg);
            
            height:80rem;
            width:100vw;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        .card{
            width:180px;
            height: 280px;
            margin:1vw;
            border: 30px;
            border-color: #111;
            background-color: #ffffff;

        }
        .ex22{
            flex-flow:row wrap;
            overflow:scroll;
        }
        .ex222{
            top:0%;
            position: relative;
        }

        .img1{
            height:150px;
            margin: 0;
        }
        h1.text1{
           width:200px;
           font-size: 15px;
           padding:15px;
           font-weight: bolder;
           margin-bottom: 0;
           word-wrap:break-word;
        }
        h1.text2{
            font-size: 15px;
            padding-left:20px;
            margin: 0;
            word-wrap:break-word;
         }
         #a{
            font-weight: bolder;
            margin-top:5px;
            padding-left: 5px;
           white-space:nowrap;
        }
         a.link1{
            width: 50px;
            font-size:10px;
            padding:0px 5px;
        }
        a.link2{
           width: 150px;
           font-size:10px;
           padding:0px 5px;
       }
    }
         footer{
            text-decoration: underline;
            height: 50px;
            width:100vw;
            background-color: #222;
            color:beige;
            font-size: 20px;
            text-shadow: 5px 5px 5px #444;
            text-align: center;
            line-height:50px;
            padding-top:5px;
        }
        @media screen and (max-width:400px) and (max-height:700px) {
            #title{
                position:absolute;
                width:90%;
                height: 50%;
                top:3%;
                left:0%;
                color:#ffffff;
                }
                #title h1{
                    display:block;
                    font-size:30px;
                    text-shadow:5px 5px 5px #222;
                    margin-left: 20px ;
                    margin-bottom: 0;
                    font-weight: bolder;
                }
                #title h2{
                    margin-left: 20px ;
                    font-size:15px;
                    text-shadow:5px 5px 5px #222;
                    margin-bottom:10px;
                    font-weight: bolder;
                }
                #title h3{
                    font-size:20px;
                    text-shadow:5px 5px 5px #222;
                    margin-bottom:0;
                    margin-top:0 ;
                    font-weight: bold;
                }
                #title ul{
                    border-left:3px solid aqua;
                    padding-left: 5px;
                    margin-left: 20px;
                    font-size:20px;
                    text-shadow:5px 5px 5px #222;
                    margin-top:30px;
                    margin-bottom: 0.8rem;
                    font-weight: bold;
                }
                #title li{
                    margin-left:30px;
                    margin-top:0;
                    font-size:15px;
                    text-shadow:5px 5px 5px #222;
                    font-weight: bold;
                }
                #title li.li2{
                    margin-left:30px;
                    margin-top:10px;
                    font-size:15px;
                    text-shadow:5px 5px 5px #222;
                    font-weight: bold;
                }
                #title li.li3{
                    margin-left:90px;
                    margin-top:0;
                    font-size:15px;
                    text-shadow:5px 5px 5px #222;
                    font-weight: bold;
                }
                div.ex2{
                    margin-top: -1rem;
                    position: absolute;
                    margin-left: 6rem;
                }   
        }
        .ex22{
            flex-flow:row wrap;
            overflow:scroll;
        }
        #a{
            font-weight: bolder;
            margin-top:5px;
            padding-left: 5px;
           white-space:nowrap;
        }