body{
    font-family: Microsoft JhengHei;
    overflow-x: hidden;
    cursor: default;
    margin:0;
    padding:0;
    background-image: url("img/3.jpg");
    width:100vw;
    height:100vh;
}
div.black{
    background-color: rgba(0,0,0,0.4);
    width:100vw;
    height:100vh;
}

h1.top{
      color: #ffffff;
      font-size: 5rem;
      text-align: center;
      font-weight: bolder;
      margin-bottom:10px;
      text-shadow:5px 5px 5px #222;
      position:relative;
}
h2.top2{
    color:#ffffff;
    text-align: center;
    margin-bottom:10px;
    font-size:2rem;
    text-shadow:5px 5px 5px #222;
}
h2.top3{
    color:#ffffff;
    text-align: center;
    margin-bottom:70px;
    font-size:2rem;
    text-shadow:5px 5px 5px #222;
}
header{
    background-image: url("img/3.jpg");
    width:100vw;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    padding:50px;
    padding-top:0px;
}


.card{
	width:290px;
    height: 330px;
	margin:1vw;
	border: 30px;
    border-color: #111;
    background-image: url(2Dimg/0.jpg);
    background-size: cover;
    background-color: #ffffff;
	position: relative;
    transition-property: all;
    transition-duration: 1s;
}
.card:hover{
    box-shadow: 5px 5px 5px #ffffff;

  }
.img1{
    width: 40%;
    margin: 0;
}
h1.text1{
   width:200px;
   font-size: 35px;
   padding:15px;
   text-align: center;
   font-weight: bolder;
   margin-bottom: 0;
   word-wrap:break-word;
   color:#ffffff;
   text-shadow:3px 3px 3px #222;
}
h1.text2{
    font-size: 20px;
    padding-left:20px;
    margin: 0;
    word-wrap:break-word;
 }
 #a{
     font-weight: bolder;
     margin-top:25px;
     padding-left: 15px;
    white-space:nowrap;
 }
 a.link1{
     width: 100px;
     font-size:20px;
     padding:0px 5px;
     text-shadow:1px 1px 1px #222;
 }

 @media screen and (max-width: 640px){
     h1.top{
      color: #ffffff;
      font-size: 5rem;
      text-align: center;
      font-weight: bolder;
      margin-bottom:10px;
      text-shadow:5px 5px 5px #222;
      position:relative;
}
h2.top2{
    color:#ffffff;
    text-align: center;
    margin-bottom:10px;
    font-size:1.5rem;
    text-shadow:5px 5px 5px #222;
}
h2.top3{
    color:#ffffff;
    text-align: center;
    margin-bottom:70px;
    font-size:1.5rem;
    text-shadow:5px 5px 5px #222;
}
 .ex1{
    flex-flow:row wrap;
    overflow:scroll;
}
}